[project]
	description = A Sinatra inspired framework for java
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anuragpatle
[access "refs/for/refs/*"]
	read = group user/anuragpatle
	push = group user/anuragpatle
	label-Code-Review = -2..+2 group user/anuragpatle
	label-Verified = -1..+1 group user/anuragpatle
	rebase = group user/anuragpatle
	removeReviewer = group user/anuragpatle
	submit = group user/anuragpatle
[access "refs/heads/*"]
	read = group user/anuragpatle
	create = group user/anuragpatle
	push = +force group user/anuragpatle
	pushMerge = group user/anuragpatle
[access "refs/tags/*"]
	push = group user/anuragpatle
	push = +force group user/anuragpatle
